@font-face {
  font-family: 'Shapiro-35FeatherText';
  src: url('../fonts/Shapiro-35FeatherText.eot');
  src: url('../fonts/Shapiro-35FeatherText.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Shapiro-35FeatherText.woff2') format('woff2'),
  url('../fonts/Shapiro-35FeatherText.woff') format('woff'),
  url('../fonts/Shapiro-35FeatherText.ttf') format('truetype');
}

@font-face {
  font-family: 'GellerText-Light';
  src: url('../fonts/GellerText-Light.eot');
  src: url('../fonts/GellerText-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GellerText-Light.woff2') format('woff2'),
  url('../fonts/GellerText-Light.woff') format('woff'),
  url('../fonts/GellerText-Light.ttf') format('truetype');
}
 
  
@font-face {
  font-family: 'GellerText-Regular';
  src: url('../fonts/GellerText-Regular.eot');
  src: url('../fonts/GellerText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GellerText-Regular.woff2') format('woff2'),
  url('../fonts/GellerText-Regular.woff') format('woff'),
  url('../fonts/GellerText-Regular.ttf') format('truetype');
}
