.c-footer {
  background-color: color('secondary');
  &__container {
    position: relative;
    padding-top: 42px;
    padding-bottom: 30px;
    @include mq(tablet) {
      padding-right: $unit-large;
    }
  }
  &__logo {
    margin-bottom: 36px;
    text-align: center;
    @include mq(tablet) {
      margin-bottom: 42px;
      text-align: left;
    }
  }
  &__social-links {
    margin-bottom: 36px;
    @include mq(tablet) {
      position: absolute;
      right: 0;
      top: 34px;
      margin-bottom: 0;
    }
  }
  &__nav {
    text-align: center;
    @include mq(tablet) {
      text-align: left;
    }
  }
}
