/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1200px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {
  @include inuit-clearfix();
  padding-right: $unit*.75;
  padding-left:  $unit*.75;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;
  @include mq(tablet) {
    padding-right: $unit;
    padding-left:  $unit;
  }
}
