.o-module {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	overflow: hidden;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	&__item {
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;
	}
	&__content {
		flex: 1;
		&--bottom {
			align-self: flex-end;
		}
	}
}